{
  "openapi": "3.1.0",
  "info": {
    "title": "Clarus Verification API",
    "version": "1.0.0",
    "description": "B2B endpoints for verifying BCA Green Mark ZKP attestations generated by the clarus edge daemon. Proof data is owned by clarus; third parties (BCA auditors, banks, tenants) use these endpoints to independently verify compliance claims without accessing raw sensor data."
  },
  "servers": [
    { "url": "https://clarus.edgesentry.io", "description": "Production" }
  ],
  "paths": {
    "/api/verify": {
      "get": {
        "operationId": "verifyAttestation",
        "summary": "Verify BCA Green Mark attestation",
        "description": "Returns the decoded GreenMarkAttestation for a site with proof validity. For the mock framework, `proof_bytes` is verified as BLAKE3(public_values) server-side. SP1/RISC Zero proofs return `proof_verified: null` pending ZK verifier integration.",
        "tags": ["Verification"],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": true,
            "description": "Site ID (e.g. MCH-OUTLET-042)",
            "schema": { "type": "string", "example": "MCH-OUTLET-042" }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation found — valid or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/VerifyResponseValid" },
                    { "$ref": "#/components/schemas/VerifyResponseInvalid" }
                  ]
                },
                "examples": {
                  "q1_gold_valid": {
                    "summary": "Q1 — Gold, proof valid",
                    "value": {
                      "valid": true,
                      "site_id": "MCH-OUTLET-042",
                      "cert_level": "gold",
                      "all_criteria_pass": true,
                      "cop_pass": true,
                      "lpd_pass": true,
                      "eui_kwh_m2": 105.0,
                      "framework": "mock",
                      "program_id": "bca-green-mark-2021-v1-mock",
                      "proof_verified": true,
                      "attested_at_ms": 1778000000000,
                      "record_hash": "3f2a1b...",
                      "verify_url": "https://clarus.edgesentry.io/api/verify?site=MCH-OUTLET-042"
                    }
                  },
                  "q2_not_certified_valid": {
                    "summary": "Q2 — Not Certified, proof valid (fails BCA, honest report)",
                    "value": {
                      "valid": true,
                      "site_id": "BLD-HIGHUSE-FAIL",
                      "cert_level": "not_certified",
                      "all_criteria_pass": false,
                      "cop_pass": false,
                      "lpd_pass": true,
                      "eui_kwh_m2": 155.0,
                      "framework": "mock",
                      "program_id": "bca-green-mark-2021-v1-mock",
                      "proof_verified": true,
                      "attested_at_ms": 1778000000000,
                      "record_hash": "9c4d2e...",
                      "verify_url": "https://clarus.edgesentry.io/api/verify?site=BLD-HIGHUSE-FAIL"
                    }
                  },
                  "q3_tampered": {
                    "summary": "Q3 — Tampered proof (fraud attempt)",
                    "value": {
                      "valid": false,
                      "site_id": "BLD-TAMPER-PASS",
                      "reason": "proof_bytes_do_not_match_public_values",
                      "framework": "mock",
                      "program_id": "bca-green-mark-2021-v1-mock",
                      "record_hash": "7a1f9b..."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `site` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "site parameter required" }
              }
            }
          },
          "404": {
            "description": "No ZKP record found for the given site",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponseInvalid" },
                "example": { "valid": false, "site_id": "UNKNOWN-SITE", "reason": "no_zkp_record" }
              }
            }
          }
        }
      }
    },
    "/api/verify/raw": {
      "get": {
        "operationId": "verifyRaw",
        "summary": "Fetch raw ZkProof envelope",
        "description": "Returns the raw `ZkProof` envelope for independent client-side verification. Use this endpoint for B2B system integration where the caller runs their own verification logic (e.g. browser BLAKE3 via @noble/hashes, or a Groth16 verifier for SP1).",
        "tags": ["Verification"],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": true,
            "description": "Site ID (e.g. MCH-OUTLET-042)",
            "schema": { "type": "string", "example": "MCH-OUTLET-042" }
          }
        ],
        "responses": {
          "200": {
            "description": "Raw proof envelope",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyRawResponse" },
                "example": {
                  "site_id": "MCH-OUTLET-042",
                  "framework": "mock",
                  "program_id": "bca-green-mark-2021-v1-mock",
                  "proof_bytes": "base64...",
                  "public_values": "base64...",
                  "record_hash": "3f2a1b...",
                  "attested_at_ms": 1778000000000,
                  "fetched_at_ms": 1778000001000
                }
              }
            }
          },
          "400": {
            "description": "Missing `site` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "No ZKP record found for the given site",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "no_zkp_record", "site_id": "UNKNOWN-SITE" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ZkFramework": {
        "type": "string",
        "enum": ["mock", "sp1", "risc0"],
        "description": "Proving framework. `mock` uses BLAKE3(public_values) as proof_bytes — verifiable with any BLAKE3 implementation. `sp1`/`risc0` use Groth16 receipts."
      },
      "CertLevel": {
        "type": "string",
        "enum": ["platinum", "gold_plus", "gold", "certified", "not_certified"],
        "description": "BCA Green Mark 2021 certification level (existing buildings, Section 4)."
      },
      "VerifyResponseValid": {
        "type": "object",
        "required": ["valid", "site_id", "cert_level", "all_criteria_pass", "cop_pass", "lpd_pass", "eui_kwh_m2", "framework", "program_id", "attested_at_ms", "verify_url"],
        "properties": {
          "valid":             { "type": "boolean", "enum": [true] },
          "site_id":           { "type": "string" },
          "cert_level":        { "$ref": "#/components/schemas/CertLevel" },
          "all_criteria_pass": { "type": "boolean", "description": "True when EUI, COP, and LPD all pass BCA thresholds." },
          "cop_pass":          { "type": "boolean", "description": "Chiller COP ≥ 0.65 (SS 553:2016)." },
          "lpd_pass":          { "type": "boolean", "description": "Lighting power density ≤ 15 W/m²." },
          "eui_kwh_m2":        { "type": "number", "description": "Annual energy use intensity (kWh/m²/year)." },
          "framework":         { "$ref": "#/components/schemas/ZkFramework" },
          "program_id":        { "type": "string", "description": "Stable guest program identifier." },
          "proof_verified":    { "type": ["boolean", "null"], "description": "true = proof verified server-side. null = framework not yet verifiable server-side (SP1/RISC Zero)." },
          "attested_at_ms":    { "type": "integer", "description": "Unix timestamp (ms) of the attested audit record." },
          "record_hash":       { "type": ["string", "null"], "description": "BLAKE3 hash of the AuditRecord (hex)." },
          "verify_url":        { "type": "string", "format": "uri", "description": "Canonical URL of this verification result." }
        }
      },
      "VerifyResponseInvalid": {
        "type": "object",
        "required": ["valid", "site_id", "reason"],
        "properties": {
          "valid":       { "type": "boolean", "enum": [false] },
          "site_id":     { "type": "string" },
          "reason":      {
            "type": "string",
            "enum": ["no_zkp_record", "public_values_decode_failed", "proof_bytes_do_not_match_public_values"]
          },
          "framework":   { "$ref": "#/components/schemas/ZkFramework" },
          "program_id":  { "type": "string" },
          "record_hash": { "type": ["string", "null"] }
        }
      },
      "VerifyRawResponse": {
        "type": "object",
        "required": ["site_id", "framework", "program_id", "proof_bytes", "public_values", "attested_at_ms", "fetched_at_ms"],
        "properties": {
          "site_id":        { "type": "string" },
          "framework":      { "$ref": "#/components/schemas/ZkFramework" },
          "program_id":     { "type": "string" },
          "proof_bytes":    { "type": "string", "description": "Base64-encoded proof bytes. For mock: BLAKE3(public_values_bytes). For SP1: Groth16 receipt." },
          "public_values":  { "type": "string", "description": "Base64-encoded JSON of GreenMarkAttestation." },
          "record_hash":    { "type": ["string", "null"] },
          "attested_at_ms": { "type": "integer" },
          "fetched_at_ms":  { "type": "integer" }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error":   { "type": "string" },
          "site_id": { "type": "string" }
        }
      }
    }
  }
}
