{
  "openapi": "3.1.0",
  "info": {
    "title": "Clarus Verification API",
    "version": "2.0.0",
    "description": "B2B endpoints for verifying BCA Green Mark compliance attestations generated by the clarus edge daemon.\n\nCompliance results (cert_level, EUI, COP, LPD) are read from tamper-evident WORM audit records. Third parties (BCA auditors, banks, tenants) use these endpoints to independently verify compliance claims without accessing raw sensor data."
  },
  "servers": [
    { "url": "https://clarus.edgesentry.io", "description": "Production" }
  ],
  "paths": {
    "/api/verify": {
      "get": {
        "operationId": "verifyAttestation",
        "summary": "Verify BCA Green Mark attestation",
        "description": "Returns the BCA Green Mark compliance attestation for a site, read from the most recent WORM audit record.",
        "tags": ["Verification"],
        "parameters": [
          {
            "name": "site",
            "in": "query",
            "required": true,
            "description": "Site ID (e.g. MCH-OUTLET-042)",
            "schema": { "type": "string", "example": "MCH-OUTLET-042" }
          }
        ],
        "responses": {
          "200": {
            "description": "Attestation found — valid or invalid",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/VerifyResponseValid" },
                    { "$ref": "#/components/schemas/VerifyResponseInvalid" }
                  ]
                },
                "examples": {
                  "q1_gold": {
                    "summary": "Q1 — Gold, all criteria pass",
                    "value": {
                      "valid": true,
                      "site_id": "MCH-OUTLET-042",
                      "cert_level": "gold",
                      "all_criteria_pass": true,
                      "cop_pass": true,
                      "lpd_pass": true,
                      "eui_kwh_m2": 105.0,
                      "attested_at_ms": 1778000000000,
                      "record_hash": "3f2a1b...",
                      "verify_url": "https://clarus.edgesentry.io/api/verify?site=MCH-OUTLET-042"
                    }
                  },
                  "q2_not_certified": {
                    "summary": "Q2 — Not Certified (fails BCA thresholds, honest report)",
                    "value": {
                      "valid": true,
                      "site_id": "BLD-HIGHUSE-FAIL",
                      "cert_level": "not_certified",
                      "all_criteria_pass": false,
                      "cop_pass": false,
                      "lpd_pass": true,
                      "eui_kwh_m2": 155.0,
                      "attested_at_ms": 1778000000000,
                      "record_hash": "9c4d2e...",
                      "verify_url": "https://clarus.edgesentry.io/api/verify?site=BLD-HIGHUSE-FAIL"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing `site` parameter",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" },
                "example": { "error": "site parameter required" }
              }
            }
          },
          "404": {
            "description": "No record found for the given site",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/VerifyResponseInvalid" },
                "example": { "valid": false, "site_id": "UNKNOWN-SITE", "reason": "no_record" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CertLevel": {
        "type": "string",
        "enum": ["platinum", "gold_plus", "gold", "certified", "not_certified"],
        "description": "BCA Green Mark 2021 certification level (existing buildings, Section 4)."
      },
      "VerifyResponseValid": {
        "type": "object",
        "required": ["valid", "site_id", "cert_level", "all_criteria_pass", "cop_pass", "lpd_pass", "eui_kwh_m2", "attested_at_ms", "verify_url"],
        "properties": {
          "valid":             { "type": "boolean", "enum": [true] },
          "site_id":           { "type": "string" },
          "cert_level":        { "$ref": "#/components/schemas/CertLevel" },
          "all_criteria_pass": { "type": "boolean", "description": "True when EUI, COP, and LPD all pass BCA thresholds." },
          "cop_pass":          { "type": "boolean", "description": "Chiller COP ≥ 0.65 (SS 553:2016)." },
          "lpd_pass":          { "type": "boolean", "description": "Lighting power density ≤ 15 W/m²." },
          "eui_kwh_m2":        { "type": "number", "description": "Annual energy use intensity (kWh/m²/year)." },
          "attested_at_ms":    { "type": "integer", "description": "Unix timestamp (ms) of the audit record." },
          "record_hash":       { "type": ["string", "null"], "description": "BLAKE3 hash of the WORM audit record (hex). Matches the record stored in R2." },
          "verify_url":        { "type": "string", "format": "uri", "description": "Canonical URL of this verification result — embed in compliance reports for independent verification." }
        }
      },
      "VerifyResponseInvalid": {
        "type": "object",
        "required": ["valid", "site_id", "reason"],
        "properties": {
          "valid":       { "type": "boolean", "enum": [false] },
          "site_id":     { "type": "string" },
          "reason": {
            "type": "string",
            "enum": ["no_record", "no_attestation", "public_values_decode_failed", "proof_bytes_do_not_match_public_values"],
            "description": "`no_record` = no audit record found for this site."
          },
          "record_hash": { "type": ["string", "null"] }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error":   { "type": "string" },
          "site_id": { "type": "string" }
        }
      }
    }
  }
}
